paper/Final-Template/appendix_A.aux
paper/Final-Template/appendix_B.aux
paper/Final-Template/appendix_C.aux
paper/Final-Template/appendix_D.aux
paper/Final-Template/chapter_1.aux
paper/Final-Template/chapter_2.aux
paper/Final-Template/chapter_3.aux
paper/Final-Template/chapter_4.aux
paper/Final-Template/chapter_5.aux
paper/Final-Template/chapter_6.aux
paper/Final-Template/SP-name.aux
paper/Final-Template/SP-name.lof
paper/Final-Template/SP-name.log
paper/Final-Template/SP-name.lot
paper/Final-Template/SP-name.synctex.gz
paper/Final-Template/SP-name.toc
